---
import WhatsAppFloat from "@/components/WhatssAppFolat";
import "../styles/global.css";
---


<!doctype html>
<html lang="es">
	<head>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link type="text/css" rel="stylesheet" href="/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-background ">
		<slot />
		<WhatsAppFloat client:load />
	</body>
</html>

<style>
	html,	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
	}
</style>
